.tabs a.active{
  font-weight: bold;
}

div.tab-pane  {
  display: none;
  transition: opacity 500ms ease;
}

div.active.tab-pane {
    display: block;
    opacity: 1;
}

div.transitioning.tab-pane {
  display: block;
  opacity: 0;
}
