<h2>New Feed</h2>
<form>
  <label>Title:
    <input type='text' name='feed[title]'>
  </label>

  <label>URL:
    <input type='text' name='feed[url]'>
  </label>

  <input type="submit" name="name" value="Create">
</form>
