<h1>Create User</h1>
<%= render 'layouts/errors' %>

<form action="<%= users_url %>" method="post">

  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <p>
    <label>Email
      <br /><input type="email" name="users[email]" value="<%= @user.email %>">
    </label>
  </p>

  <p>
    <label>Password
      <br /><input type="password" name="users[password]">
    </label>
  </p>

  <input type="submit" value="Create User">
</form>
