<h1>User Form</h1>

<form>
  <label>Username
    <input type='text' name='user[username]'>
  </label>
  <label>
    <input type='password' name='user[password]'>
  </label>
  <input type='submit' value='Submit'>
</form>
