<h1>Sign up!</h1>

<ul>
  <% @user.errors.full_messages.each do |err_msg| %>
    <li><%= err_msg %></li>
  <% end %>
</ul>

<form action="/user" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <div class="row">
    <div class="form-group col-xs-4">
      <label for="user_username">Username</label>
      <input
        type="text"
        name="user[username]"
        class="form-control"
        id="user_username"
        value="<%= @user.username %>">
    </div>

    <div class="form-group col-xs-4">
      <label for="user_password">Password</label>
      <input type="password"
        name="user[password]"
        class="form-control"
        id="user_password">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Create User!</button>
</form>
