<h1>About</h1>

    <div class="jumbotron">
      <div class="container">
        <h1>This is a fantastic site. Wow.</h1>
        <div class="row">
          <div class="col-xs-6">
            <p>I mean just look at it. It's amazing.</p>
          </div>
          <div class="col-xs-6">
            <p>There are two whole columns here!</p>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <h1 class="text-center">Meet the Team</h1>
    <p class="text-center">
      (of puppies!)
    </p>
  </div>

<div class="row">
  <div class="col-xs-3">
    <img src="puppy1.jpg" alt="Puppy1" class="img-responsive img-circle" />
    <h2 class="text-center">FuzzBall</h2>
  </div>

  <div class="col-xs-3">
    <img src="puppy2.jpg" alt="Puppy2" class="img-responsive img-circle" />
    <h2 class="text-center">Fido</h2>
  </div>

  <div class="col-xs-3">
    <img src="puppy3.jpg" alt="Puppy3" class="img-responsive img-circle" />
    <h2 class="text-center">Daisy</h2>
  </div>

  <div class="col-xs-3">
    <img src="puppy4.jpg" alt="Puppy4" class="img-responsive img-circle" />
    <h2 class="text-center">Sir Barkington</h2>
  </div>
</div>
