<h1>Contact</h1>
<div class="row">
  <div class="col-xs-6">
    <form class="">
      <div class="form-group">
        <label for="test-field">Cool Text</label>
        <input type="text" class="form-control" name="name" value="">
      </div>

      <input type="button" class="btn btn-primary" value="Test Form">
    </form>
  </div>

  <div class="col-xs-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td>Phone Number</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alex Chebotarev</td>
          <td>(555)555-5555</td>
        </tr>

        <tr>
          <td>Some OtherGuy</td>
          <td>(555)555-5555</td>
        </tr>

        <tr>
          <td>AnAdditional Guy</td>
          <td>(555)555-5555</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
