<% unless @bands.empty? %>
  <ul>
    <% @bands.each do |band| %>
        <li><%= link_to band.name, band_url(band) %></li>
    <% end %>
  </ul>
<% else %>
  <h2>No Bands!</h2>
<% end %>

<%= button_to "New Band", new_band_url, method: :get %>
