<% if logged_in? %>
  <p>
    Logged In As <strong><%= current_user.email %></strong>
    <%= button_to "Logout", session_url, method: :delete %>
  </p>

<% else %>
  <p>
    <%= button_to "Log In", new_session_url, method: :get %>
    <%= button_to "Create User", new_user_url, method: :get %>
  </p>
<% end %>
